# auth service configuration
AUTH_SERVICE_NAME=auth
AUTH_HTTP_HOST=0.0.0.0
AUTH_HTTP_PORT=8000
AUTH_GRPC_HOST=0.0.0.0
AUTH_GRPC_PORT=50053
AUTH_GRPC_MAX_WORKERS=8
AUTH_LOG_LEVEL=info

# postgres
AUTH_POSTGRES_HOST=postgres
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_USER=auth
AUTH_POSTGRES_DB=authdb
AUTH_POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
