bind 0.0.0.0
port 0
protected-mode yes

requirepass CHANGE_ME

user default on #CHANGE_ME_SHA256 ~* &* -@all +ping +@connection
user broker on #CHANGE_ME_SHA256 ~celery* ~_kombu* ~unacked* ~results:* ~*pidbox* ~*.reply.celery* ~kombu* allchannels -@all +@connection +@list +@set +@sortedset +@string +@hash +@transaction +@pubsub +@scripting +client +ttl +expire +persist +del +exists +type +scan +info +unlink +dump +restore
user exporter on #CHANGE_ME_SHA256 resetchannels ~* -@all +@connection +info +client +ping +latency +slowlog
user notify on #CHANGE_ME_SHA256 resetchannels ~notify:* -@all +@connection +get +set +del +exists +expire +ttl

appendonly yes
appendfsync everysec
save ""

maxmemory-policy noeviction

rename-command FLUSHALL ""
rename-command FLUSHDB ""
rename-command DEBUG ""

loglevel notice
logfile ""

databases 1

tls-port 6380
tls-cert-file /etc/redis/tls/tls.crt
tls-key-file /etc/redis/tls/tls.key
tls-ca-cert-file /etc/redis/tls/ca.crt
tls-auth-clients yes
tls-protocols "TLSv1.3"
