bind 0.0.0.0
port 0
protected-mode yes
requirepass <password>
aclfile /etc/redis/redis-stream.acl
appendonly no
save ""
maxmemory 1500mb
maxmemory-policy allkeys-lru
rename-command FLUSHALL ""
rename-command FLUSHDB ""
rename-command DEBUG ""
loglevel notice
logfile ""
databases 3
tls-port 6380
tls-cert-file /etc/redis/tls/tls.crt
tls-key-file /etc/redis/tls/tls.key
tls-ca-cert-file /etc/redis/tls/ca.crt
tls-auth-clients yes
tls-protocols "TLSv1.3"
