bind 0.0.0.0
port 6379
protected-mode yes
requirepass <password>
user default on #<password> ~* &* -@all +ping +@connection
user ai on #<password> ~ai:track:* resetchannels -@all +@connection +xadd +xrange +xlen +ttl +expire +del +client +ping
user camera on #<password> ~frame:* resetchannels -@all +@connection +xadd +client +ping
user gate on #<password> ~frame:* resetchannels -@all +@connection +xread +xlen +client +ping
user exporter on #CHANGEME resetchannels ~* -@all +@connection +info +client +ping +latency +slowlog
appendonly no
save ""
maxmemory 160mb
maxmemory-policy noeviction
rename-command FLUSHALL ""
rename-command FLUSHDB ""
rename-command DEBUG ""
loglevel notice
logfile ""
databases 3
