apiVersion: 1
datasources:
  - name: Loki
    uid: loki-local
    type: loki
    access: proxy
    url: http://theft-loki:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: trace_id
          matcherRegex: '"trace_id"\s*:\s*"([a-f0-9]+)"'
          url: '$${__value.raw}'
          datasourceUid: tempo-local
          urlDisplayLabel: 'View trace in Tempo'
